<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/registro.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Registro</h2>
                    
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" required>
                        <label for="">Nombres</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" required>
                        <label for="">Apellido paterno</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" required>
                        <label for="">Apellido materno</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Correo electrónico</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="call-outline"></ion-icon>
                        <input type="tel" required>
                        <label for="">Número de celular</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="transgender-outline"></ion-icon>
                        <select required>
                            <option value="" disabled selected>Selecciona tu sexo</option>
                            <option value="femenino">Femenino</option>
                            <option value="masculino">Masculino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="calendar-outline"></ion-icon>
                        <input type="number" min="1" max="120" required>
                        <label for="">Edad</label>
                    </div>
                    <button>Registrarse</button>
                    <div class="login">
                        <p>¿Ya tienes una cuenta? <a href="./login.html">Iniciar sesión</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
</body>
</html>